# Ignoră mediul virtual
venv/
config/
__pycache__/

# Ignoră datele (foarte important!)
data/

# Ignoră fișierele de sistem sau IDE
.DS_Store
.vscode/
*.zip
*.rar
.downloads/
models/
docs/screenshots

deprecated*/

.obsidian/